body {
	width: 1260px;
	margin: 0 auto;
	background: hsl(0, 0%, 95%);
	font-family: sans-serif;
	padding: 5% 17%;
}

.listaSedans {
	margin: 0 auto;
	width: 30%;
	background: hsl(31, 77%, 52%);
	height: 550px;
	padding: 50px 10px 30px 60px;
	border-radius: 10px 0px 0px 10px;
}

.listaSuvs {
	margin: 0 auto;
	width: 30%;
	background: hsl(184, 100%, 22%);
	height: 550px;
	padding: 50px 0px 30px 58px;
}

.listaLuxury {
	margin: 0 auto;
	width: 30%;
	background: hsl(179, 100%, 13%);
	height: 550px;
	padding: 50px 10px 30px 60px;
	border-radius: 0px 10px 10px 0px;
}

.icones {
	width: 30%;
}

.titulos {
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
}

p {

	font-size: 22px;
	width: 81%;
	margin-top: 50px;
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5;
}

.saibaMaisSedans {
	font-weight: bold;
	color: hsl(31, 77%, 52%);
	margin-top: 120px;
	border: 2px solid hsl(0, 0%, 95%);
	border-radius: 30px;
	width: 50%;
	height: 45px;
}

.saibaMaisSuvs {
	font-weight: bold;
	color: hsl(184, 100%, 22%);
	margin-top: 120px;
	border: 2px solid hsl(0, 0%, 95%);
	border-radius: 30px;
	width: 50%;
	height: 45px;
}

.saibaMaisLuxury {
	font-weight: bold;
	color: hsl(179, 100%, 13%);
	margin-top: 120px;
	border: 2px solid hsl(0, 0%, 95%);
	border-radius: 30px;
	width: 50%;
	height: 45px;
}

.attribution {

	margin-top: 20px;
	text-align: center;



}
		/*MOBILE*/
@media(max-width: 768px) {

	body {
		width: 340px;
		padding: initial;
	}

	.listaSedans {
		margin: 0 auto;
		width: 90%;
		background: hsl(31, 77%, 52%);
		height: 450px;
		padding: 50px 15px 30px 50px;
		border-radius: 15px 10px 0px 0px;
	}

	.listaSuvs {
		margin: 0 auto;
		width: 90%;
		background: hsl(184, 100%, 22%);
		height: 450px;
		padding: 50px 15px 30px 50px;
	}

	.listaLuxury {
		margin: 0 auto;
		width: 90%;
		background: hsl(179, 100%, 13%);
		height: 450px;
		padding: 50px 15px 30px 50px;
		border-radius: 0px 0px 10px 10px;
	}

	p {
		font-size: 20px;
	}

	.saibaMaisSedans {
		margin-top: 50px;
		
	}

	.saibaMaisSuvs {
		margin-top: 50px;
		
	}

	.saibaMaisLuxury {
		margin-top: 50px;
		







}
